.form-group{
    align-items: center;
}

#cover {
    background-color: white;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: center;
    padding: 10% 10%;
}

#cover-caption {
    width: 100%;
    position: center;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: orange;
    z-index: -1;
    border-radius: 10px;
}