.table td {
    text-align: center;   
}
input {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}
a:link,a:hover {
    text-decoration: none;
}