<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <hr style="background-color: orange; height:3px;"/>
    
    <div class="container text-center text-md-left mt-4" style="padding-top:5px">
    
        <div class="row mt-3">
    
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                <h6 class="text-uppercase font-weight-bold">Progetto</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Anno Scolastico 2020/2021.</p>
                <p>Albertini Riccardo, Ciandrini Davide, Giorgetti Alex.</p>
            </div>
    
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                <h6 class="text-uppercase font-weight-bold">Assistenza</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="q&a.php">FAQ</a>
                </p>
                <p>
                    <a href="contact.php">Contattaci</a>
                </p>
            </div>
    
        </div>
    
    </div>
    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.php"> MyBook.com</a>
    </div>
    
</footer>